# Project information
site_name: PGSync
site_url: https://toluaina.github.io
site_author: Tolu Aina
site_description: >-
  PGSync simplifies your data pipeline by integrating Postgres/MySQL/MariaDB into Elasticsearch/OpenSearch.

# Repository
repo_name: toluaina/pgsync
repo_url: https://github.com/toluaina/pgsync
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2025 Tolu Aina

# Configuration
theme:
  name: material
  palette:
    scheme: slate
    primary: pink
    accent: deep purple
  features:
    - content.code.copy    
    - toc.follow           
    - navigation.top      
    - navigation.instant   
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/pgsync-website-favicon-white.png
  logo: assets/images/pgsync-website-favicon-white.png

markdown_extensions:
  - md_in_html
  - toc:
      permalink: true
  - markdown.extensions.codehilite:
      guess_lang: false
  - admonition
  - codehilite
  - extra
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_div_format ''
  - pymdownx.tabbed:
      alternate_style: true 

# Customization
extra:
  social:
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/toluaina1/pgsync
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/pgsync/
    - icon: fontawesome/brands/digital-ocean
      link: https://marketplace.digitalocean.com/apps/pgsync?utm_medium=opensource&utm_source=pgsync
      name: DigitalOcean Marketplace
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/pgsync
    - icon: fontawesome/brands/github-alt
      link: https://github.com/toluaina/pgsync
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/pgsync/
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/pgsync2
    - icon: fontawesome/solid/at
      link: mailto:tolu@pgsync.com
    - icon: fontawesome/brands/medium
      link: https://medium.com/@toluaina/real-time-integration-of-postgresql-with-elasticsearch-with-pgsync-9425ffa9b4e9

extra_css:
- css/termynal.css
extra_javascript:
- js/termynal.js
- js/custom.js

# Page tree
nav:
  - PGSync: index.md
  - Features: features/index.md
  - Requirements: requirements/index.md
  - Getting started:
    - getting-started/setup.md
    - getting-started/installation.md
    - getting-started/running.md
    - getting-started/docker.md
  - Environment variables: env-vars/index.md
  - Command arguments: command-args/index.md
  - Schema definition: schema/index.md
  - Tutorial - User Guide:
    - tutorial/table-with-single-child-node.md
    - tutorial/table-with-multiple-children.md
    - tutorial/using-labels.md
    - tutorial/selecting-schema.md
    - tutorial/relationship-with-object-variant.md
    - tutorial/relationship-with-scalar-variant.md
    - tutorial/relationship-with-one-to-one-type.md
    - tutorial/relationship-with-one-to-many-type.md
    - tutorial/relationship-with-through-tables.md
    - tutorial/relationship-with-user-defined-foreign-key.md
    - tutorial/transform-nodes.md
    - tutorial/json-fields.md
    - tutorial/plugins.md
    - tutorial/multiple-schemas-in-single-config.md
  - Advanced - User Guide:
    - advanced/re-indexing.md
  - Scaling:
    - scaling/multiple-workers.md
    - scaling/parallel-sync.md
  - License: license/index.md
  - References: reference/index.md
